camera==1.3.0
click==7.1.2
dlib==19.24.0
dnspython==2.2.1
email-validator==1.2.1
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==1.0.1
fonttools==4.25.0
gunicorn==20.0.4
heroku==0.1.4
locket==0.2.1
opencv-python==4.5.5.64
pandas==1.3.4
pycosat==0.6.3
pycurl==7.44.1
pyls-spyder==0.4.0
pytest==6.2.4
python-dateutil==1.5
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
PyYAML==6.0
scikit-image==0.18.3
SQLAlchemy==1.3.17
unicodecsv==0.14.1
urllib3==1.26.7
webencodings==0.5.1
Werkzeug==1.0.1
WTForms==2.3.3

