{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<!-- <div class="fuck" style = "display:block;margin:auto"> -->
    <div class="container" style="margin:15px 0 ;" >
        <h2 style = "border-bottom:2px solid #0086ff; ">User guide</h2>
        <div class="row">
        <div class="col-sm"  style="box-shadow: 1px 3px #ccc;margin:3%; background: #fcfbfb;"  >
            <h3  style = "text-decoration:underline;text-align:center;font-family: 'Times New Roman', Times, serif;">Registration</h2>
            <p style="font-family: 'Times New Roman';font-size:120%;">
            Students can be registered by going on this Page and filling in details as shown there. 
            It can be accessed directly by clicking <a href = "/register">Registration</a> button in navigation tab shown above.
            </p>
        </div>
        <div class="col-sm" style="box-shadow: 1px 3px #ccc;margin:3%; background: #fcfbfb;">
        <h3  style = "text-decoration:underline;text-align:center;font-family: 'Times New Roman', Times, serif;">Attendance</h2>
        <p style="font-family: 'Times New Roman';font-size:120%;">
        This page fecilitates attendance of students. This page also contains information 
        of whether a student is present or absent. Here you can download the attendance sheet 
        of complete day as well. It can be accessed directly by clicking <a href = "/attendance">Attendance</a>
        button in navigation tab shown above.
        </p>
            <!-- <hr class="hidden-sm hidden-md hidden-lg"> -->
        </div>
          <div class="col-sm" style="box-shadow: 1px 3px #ccc;margin:3%; background: #fcfbfb;">
            <h3  style = "text-decoration:underline;text-align:center;font-family: 'Times New Roman', Times, serif;">Registered Students</h2>    
            <p style="font-family: 'Times New Roman';font-size:120%;">This page contains all the relevant information of registered students 
                i.e their name, roll number and
                image. It has also interface for unenrolling a student directly by a click of button which
                universally removes the student. This page can be accessed directly by clicking 
                <a href = "/rsl">Registered Student</a> button in navigation tab shown above.
            </p>
            
        </div>
        </div>
        <!-- </div> -->
      </div>
{% endblock body %}